/********************
YOUR STYLES
*******************/
h1 {
    text-align: center;
    font-family: "Georgia";
}

/* Header */
header {
  display: flex;
  justify-content: center;
}



/* Main Container */


/* Gallery Styling */
figure img {
    width: 100px;
    
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: auto;
}

figure {
    background: white;
    padding: 20px;
    width: 310px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 
}



.all { 
    background: grey;
    margin: 2px;
}

footer {
    margin: auto;
    width: 310px;
    text-align: center;
}
/* Captions */

.caption {
    display: none;
}


/********************
MEDIA QUERIES
*******************/
/* Mobile: 320px = 20em */
@media screen and (min-width: 20em) { 

  /* Diagnostic Styling. */
  body {
       background: white;
  }
    

   

    .gallery {
        justify-content: center;
    
    }
  

/* Tablet:  768px = 160em */
@media screen and (min-width: 48em)  {

  /* Diagnostic Styling. */
  body {
       background: white;
  }
    
    
   .gallery {
        justify-content: center;
       
    }
    
    


/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) { 
  
  /* Diagnostic Styling. */
  body {
       background: white;
  }
    
    

   .gallery {
        justify-content: center;
       
    }
    